#ad_txtlnk_aff a{float:right;color:blue;margin:-5px 50px 0 0;border-bottom:1px solid;font-weight:bold}
#ad_txtlnk_aff a:hover{color:#f60;text-decoration:none}
.personal_cat{font-size:13px}
.personal_cat a{font:13px arial;color:#09f}
